footer
    hr
    .footer-container
        p <b>PEANA</b> is an exhibition platform committed to the promotion of contemporary art that seeks to facilitate a <b>material and conceptual exchange</b> between local and international artistic practices.
        p <b>Via Clodia 169 <br>SPGG, MX</b> <br>Monday – Friday  <br>10 am to 6 pm
        p <b>New York <br>NY</b> <br>By appointment only
        ul
            li
                a(href="#") Instagram
            li
                a(href="#") Facebook
        p.newsletter-button Newsletter
