header.container
    nav
        a.logo(href="/") Peana
        ul.nav
            li
                a(href="about.html") about
            li
                a(href="exhibition.html") exhibition
            li
                a(href="project_room") project room
            li
                a(href="viewing_room") viewing room
            li
                a(href="artist.html") artist
            li
                a(href="news") news
            li
                a(href="contact") contact
        .lang
            a(href="#") Eng /
            a(href="#") Esp
        .ham
            .line
            .line
