header
    nav
        a.logo(href="index.html").disable Peana
        ul.nav
            li
                a(href="/about.html") about
            li
                a(href="/current.html") exhibitions
            li
                a(href="/current.html") project room
            li
                a(href="/viewing-single.html") viewing room
            li
                a(href="/artists.html") artist
            li
                a(href="/news.html") news
            li
                a(href="/contact.html") contact
        .lang
            a(href="#") Eng /
            a(href="#") Esp
        .ham
            .line
            .line
