extends ../layouts/default-layout.pug
block content
  #artist
    .container
      section.title
          b Tezontle
      .nav-ex
        ul
          li
            a(href="#works") Works
          li
            a(href="#bio") Bio
          li
            a(href="#ex") Exhibitions
          li
            a(href="#press") Press
    .slideex.owl-carousel.owl-theme#works
      img(src="assets/images/slider-a-01.jpg", alt="")
      img(src="assets/images/slider-a-02.jpg", alt="")
      img(src="assets/images/slider-a-03.jpg", alt="")
      img(src="assets/images/slider-a-04.jpg", alt="")
    .container#bio
      .info-text
        p <b>Carlos H. Matos and Lucas Cantú</b> began working together as <b>Tezontle</b> in 2014. Tezontle identifies with Mexico’s Prehispanic heritage and the abstract work of the Mexican modernists of the mid-20th Century. The artists work by <b>curating found objects with self-made ones</b> in a process of generating innovative, formal, and material narratives. This working method is independent of scale; when the scale becomes irrelevant, the sculptural becomes the architectural and vice versa. 
        br
        br
        p Tezontle’s recent projects includes an artist residency at Casa Wabi, Puerto Escondido, MX, “Second life” an off-site exhibition by PEANA curated by José Esparza Chong Cuy presented during CONDO Complex 2019, Mexico City, MX, “Tenaza” a monumental sculpture commissioned by the XIII Havana Biennial in Havana, CU, “Rise and Fall” at Richard Neutra’s VDL House in Los Angeles, US, “Piedras Vivas” at PEANA in Monterrey, MX and “Almost Solid Light” at KASMIN in New York, US. 
        br
        br
        p Tezontle’s recent projects includes an artist residency at Casa Wabi, Puerto Escondido, MX, “Second life” an off-site exhibition by PEANA curated by José Esparza Chong Cuy presented during CONDO Complex 2019, Mexico City, MX, “Tenaza” a monumental sculpture commissioned by the XIII Havana Biennial in Havana, CU, “Rise and Fall” at Richard Neutra’s VDL House in Los Angeles, US, “Piedras Vivas” at PEANA in Monterrey, MX and “Almost Solid Light” at KASMIN in New York, US. 
        br
        br
        br
        hr
    .linksection#ex
      h3.title-sec <b>Exhibitions</b>
      .loop-links
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
    .container
      .info-text
        hr
    .linksection#press
      h3.title-sec <b>Press</b>
      .loop-links
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019