extends ../layouts/default-layout.pug
block content
  #exhibition
    .container
      section.title
          h2 Usando este cuerpo, pensando en la fuente
          b Tomás Díaz Cedeño
          p 05.27.2020 — 08.15.2020
      .nav-ex
        ul
          li
            a(href="#text") Text
          li
            a(href="#artist") Artist
          li
            a(href="#ex") Exhibitions
          li
            a(href="#press") Press
    .slideex.owl-carousel.owl-theme#artist
      img(src="assets/images/slide1.jpg", alt="")
      img(src="assets/images/slide2.jpg", alt="")
      img(src="assets/images/slide3.jpg", alt="")
      img(src="assets/images/slide4.jpg", alt="")
    .container#text
      .info-text
        p <b>Fusce dapibus,</b> tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, <b>dapibus</b> ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        br
        br
        p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. <b>Nullam quis risus eget urna mollis ornare vel eu leo.</b>
        br
        br
        br
        hr
    .linksection#ex
      h3.title-sec <b>Exhibitions</b>
      .loop-links
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
    .container
      .info-text
        hr
    .linksection#press
      h3.title-sec <b>Press</b>
      .loop-links
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019
        .item
          a(href="exhibition.html")
            h2 Cold Pleasure, Warm Touch
            h2 <b>Group Exhibition PEANA</b>
            p 11.07.2018 — 02.14.2019