extends ../layouts/default-layout.pug
block content
    #virtual-single.container
        .top-bg(style="background-image: url(assets/images/bg-slide1.jpg")
            .info-lead
                h1 Half Blood Princess
                b ASMA
                p Online Viewing Room
    .info-text.container
        p Employing an adaptable curatorial model, <b>PEANA maintains a permanent gallery</b> in Monterrey, Mexico, <b>while also organizing "off-site" exhibitions</b> in the United States and Europe.
        br
        br
        p In 2018, <b>PEANA</b> started a <b>residency exchange program between Mexico and New York</b> made possible thanks to the support of Rockefeller Brothers Fund and Residency Unlimited. Starting Fall 2018, this program will run parallel to <b>PEANA</b> as an independent non-profit organization called <b>Persona.</b>
        br
        br
        br
        br
        br
    .slideex.owl-carousel.owl-theme
        .slider-01
            img(src="assets/images/slide1.jpg", alt="")
            img(src="assets/images/slide2.jpg", alt="")
            img(src="assets/images/slide3.jpg", alt="")
            img(src="assets/images/slide4.jpg", alt="")
    .container.image-text
      .info-text
        .image
            img(src="assets/images/split.jpg", alt="")
        .text
            h6 Nulla vitae elit libero, a dis pharetra augue. Vestibulum id ligula porta felis euismod  non mi porta semper. 
    .container.video
        .
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/67449472?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    .container.cuadros
        .info-text
            .cuadro
                .img
                    img(src="assets/images/cuadro1.jpg", alt="")
                .info-cuadro
                    p ASMA
                    p <b>Soft wax night, 2019</b>
                    p White paraffin wax, encaustic paint
                    p 53 x 40 x 5 cm
                    p 20.9 x 15.7 x 1.9 in
            .cuadro
                .img
                    img(src="assets/images/cuadro1.jpg", alt="")
                .info-cuadro
                    p ASMA
                    p <b>Soft wax night, 2019</b>
                    p White paraffin wax, encaustic paint
                    p 53 x 40 x 5 cm
                    p 20.9 x 15.7 x 1.9 in
            .cuadro
                .img
                    img(src="assets/images/cuadro1.jpg", alt="")
                .info-cuadro
                    p ASMA
                    p <b>Soft wax night, 2019</b>
                    p White paraffin wax, encaustic paint
                    p 53 x 40 x 5 cm
                    p 20.9 x 15.7 x 1.9 in
            .cuadro
                .img
                    img(src="assets/images/cuadro1.jpg", alt="")
                .info-cuadro
                    p ASMA
                    p <b>Soft wax night, 2019</b>
                    p White paraffin wax, encaustic paint
                    p 53 x 40 x 5 cm
                    p 20.9 x 15.7 x 1.9 in
    .info-text.container
        p Employing an adaptable curatorial model, <b>PEANA maintains a permanent gallery</b> in Monterrey, Mexico, <b>while also organizing "off-site" exhibitions</b> in the United States and Europe.
        br
        br
        p In 2018, <b>PEANA</b> started a <b>residency exchange program between Mexico and New York</b> made possible thanks to the support of Rockefeller Brothers Fund and Residency Unlimited. Starting Fall 2018, this program will run parallel to <b>PEANA</b> as an independent non-profit organization called <b>Persona.</b>
        br
        br
        br
        br
        br
        br
        br
        br
        br
    .slideex.owl-carousel.owl-theme
        .slider-01
            img(src="assets/images/slide1.jpg", alt="")
            img(src="assets/images/slide2.jpg", alt="")
            img(src="assets/images/slide3.jpg", alt="")
            img(src="assets/images/slide4.jpg", alt="")
    .space