html, body, div, h1, h2, h3, h4, h6, h6, span, b, span, i, em, strong, ul, li, p, hr {
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothings: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: initial;
}

a {
  color: #333333;
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'Suisse BP Serif';
  src: url("../fonts/SuisseBPSerif-Medium.eot");
  src: url("../fonts/SuisseBPSerif-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseBPSerif-Medium.woff2") format("woff2"), url("../fonts/SuisseBPSerif-Medium.woff") format("woff"), url("../fonts/SuisseBPSerif-Medium.ttf") format("truetype"), url("../fonts/SuisseBPSerif-Medium.svg#SuisseBPSerif-Medium") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Suisse BP Int';
  src: url("../fonts/SuisseBPIntl-Medium.eot");
  src: url("../fonts/SuisseBPIntl-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseBPIntl-Medium.woff2") format("woff2"), url("../fonts/SuisseBPIntl-Medium.woff") format("woff"), url("../fonts/SuisseBPIntl-Medium.ttf") format("truetype"), url("../fonts/SuisseBPIntl-Medium.svg#SuisseBPIntl-Medium") format("svg");
  font-weight: 500;
  font-style: bold;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Suisse BP Serif";
  font-size: 16px;
  line-height: 1.2;
}

.container {
  padding: 0 20px;
}

a:hover {
  font-family: "Suisse BP Int";
}

b, strong {
  font-family: "Suisse BP Int";
}

h2 {
  font-size: 2rem;
}

.newsletter-button {
  font-family: "Suisse BP Int";
  cursor: pointer;
  display: inline;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100px;
}

nav .logo {
  -ms-flex-item-align: center;
  align-self: center;
  font-family: "Suisse BP Int";
  font-size: 2rem;
  width: 10%;
}

nav ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  width: 80%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

nav ul.nav li a {
  text-transform: capitalize;
}

nav .lang {
  display: inline;
  -ms-flex-item-align: center;
  align-self: center;
  justify-self: end;
  width: 10%;
  text-align: right;
}

footer hr {
  margin-top: 25px;
  margin-bottom: 25px;
}

footer .footer-container {
  height: 130px;
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr 2fr;
  grid-gap: 40px;
}

footer .footer-container a {
  font-family: "Suisse BP Int";
}

footer .footer-container p {
  padding-bottom: 20px;
}

#home .slider-home {
  height: calc(100vh - 100px - 180px);
  background: pink;
}

#home .slider-home .slide {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #EBE4D0;
}
