extends ../layouts/default-layout.pug
block content
  #about.container(data-barba="container" data-barba-namespace="about")
    .description
      h1 <b>PEANA</b> is an exhibition platform committed to the promotion of contemporary art that seeks to facilitate a <b>material and conceptual exchange</b> between local and international artistic practices.
    hr
    .info-text
      br
      br
      br
      br
      br
      p Employing an adaptable curatorial model, <b>PEANA maintains a permanent gallery</b> in Monterrey, Mexico, <b>while also organizing "off-site" exhibitions</b> in the United States and Europe.
      br
      br
      p In 2018, <b>PEANA</b> started a <b>residency exchange program between Mexico and New York</b> made possible thanks to the support of Rockefeller Brothers Fund and Residency Unlimited. Starting Fall 2018, this program will run parallel to <b>PEANA</b> as an independent non-profit organization called <b>Persona.</b>
      br
      br
      br
      br
      br
      img(src="assets/images/about.jpg", alt="PEANA")
      br
      br
      br