extends ../layouts/default-layout.pug
block content
  #exhibitions.container
    .nav-cat
        ul
            li
                a(href="current.html") Current
            li
                a(href="upcoming.html") Upcoming
            li
                a.active-link(href="archive.html") Archive
    section.archive-grid
        article
            a(href="exhibition.html")
                img(src="assets/images/about.jpg", alt="Peana")
                .info-ex
                    h3 Usando este cuerpo, <br>pensando en la fuente
                    b Tomás Díaz Cedeño
                    p 05.27.2020 — 08.15.2020
        article
            a(href="exhibition.html")
                img(src="assets/images/about.jpg", alt="Peana")
                .info-ex
                    h3 Usando este cuerpo, <br>pensando en la fuente
                    b Tomás Díaz Cedeño
                    p 05.27.2020 — 08.15.2020
        article
            a(href="exhibition.html")
                img(src="assets/images/about.jpg", alt="Peana")
                .info-ex
                    h3 Usando este cuerpo, <br>pensando en la fuente
                    b Tomás Díaz Cedeño
                    p 05.27.2020 — 08.15.2020
        article
            a(href="exhibition.html")
                img(src="assets/images/about.jpg", alt="Peana")
                .info-ex
                    h3 Usando este cuerpo, <br>pensando en la fuente
                    b Tomás Díaz Cedeño
                    p 05.27.2020 — 08.15.2020
        article
            a(href="exhibition.html")
                img(src="assets/images/about.jpg", alt="Peana")
                .info-ex
                    h3 Usando este cuerpo, <br>pensando en la fuente
                    b Tomás Díaz Cedeño
                    p 05.27.2020 — 08.15.2020
        article
            a(href="exhibition.html")
                img(src="assets/images/about.jpg", alt="Peana")
                .info-ex
                    h3 Usando este cuerpo, <br>pensando en la fuente
                    b Tomás Díaz Cedeño
                    p 05.27.2020 — 08.15.2020
        article
            a(href="exhibition.html")
                img(src="assets/images/about.jpg", alt="Peana")
                .info-ex
                    h3 Usando este cuerpo, <br>pensando en la fuente
                    b Tomás Díaz Cedeño
                    p 05.27.2020 — 08.15.2020