extends ../layouts/default-layout.pug
block content
    #artists
        .container.top
            h3.title-sec <b>Exhibitions</b>
            ul
                li
                    a(href="artist.html") ASMA
                    img(src="assets/images/about.jpg", alt="")
                li
                    a(href="artist.html") Federico Pérez Villoro
                    img(src="assets/images/about.jpg", alt="")
                li
                    a(href="artist.html") SANGREE
                    img(src="assets/images/about.jpg", alt="")
                li
                    a(href="artist.html") Tezontle
                    img(src="assets/images/about.jpg", alt="")
                li
                    a(href="artist.html") Tomás Díaz Cedeño
                    img(src="assets/images/about.jpg", alt="")
                li
                    a(href="artist.html") Ana Montiel
                    img(src="assets/images/about.jpg", alt="")
                li
                    a(href="artist.html") Alexis Zambrano
                    img(src="assets/images/about.jpg", alt="")
        .container
            .info-text
                hr
        .linksection#ex
            h3.title-sec <b>Exhibitions</b>
            .loop-links
                .item
                    a(href="artist.html") Leonor Antunes
                .item
                    a(href="artist.html") Elsa-Louise Manceaux
                .item
                    a(href="artist.html") Fransisco Artigas 
                .item
                    a(href="artist.html") Carlos Mérida
                .item
                    a(href="artist.html") Doug Ashford
                .item
                    a(href="artist.html") Mario Navarro
                .item
                    a(href="artist.html") Dr. Atl
                .item
                    a(href="artist.html") Juan O’Gorman
                .item
                    a(href="artist.html") Adrián S. Bará
                .item
                    a(href="artist.html") Eamon Ore-Giron
                .item
                    a(href="artist.html") Nina Beier
                .item
                    a(href="artist.html") Veronika Pausova
                .item
                    a(href="artist.html") Juliana Cerqueira Leite
                .item
                    a(href="artist.html") Matt Paweski 
                .item
                    a(href="artist.html") Manuela de Laborde
                .item
                    a(href="artist.html") Claudia Peña Salinas
                .item
                    a(href="artist.html") Frida Escobedo
                .item
                    a(href="artist.html") Clara Porset
                .item
                    a(href="artist.html") Faivovich & Goldberg
                .item
                    a(href="artist.html") Pedro Reyes
                .item
                    a(href="artist.html") Claudia Fernández y Proyecto Meteoro
                .item
                    a(href="artist.html") Gabriel Rosas Alemán
                .item
                    a(href="artist.html") Simon Fujiwara
                .item
                    a(href="artist.html") Diego Salvador Ríos
                .item
                    a(href="artist.html") Mario García Torres
                .item
                    a(href="artist.html") Alejandro Romero
                .item
                    a(href="artist.html") Ernesto Gómez Gallardo
                .item
                    a(href="artist.html") Armando Salas Portugal
                .item
                    a(href="artist.html") Heather Guertin
                .item
                    a(href="artist.html") Saúl Sanchéz
                .item
                    a(href="artist.html") Cynthia Gutiérrez
                .item
                    a(href="artist.html") Eduardo Sarabia
                .item
                    a(href="artist.html") Nathan Hylden
                .item
                    a(href="artist.html") Ariel Schlesinger
                .item
                    a(href="artist.html") Christian Jankowski
                .item
                    a(href="artist.html") Cooking Sections
                .item
                    a(href="artist.html") Gonzalo Lebrija
                .item
                    a(href="artist.html") Bosco Sodi
                .item
                    a(href="artist.html") Marie Lund
                .item
                    a(href="artist.html") Barb Smith
                .item
                    a(href="artist.html") Javier M. Rodríguez
                .item
                    a(href="artist.html") Pier Stockholm
                .item
                    a(href="artist.html") Esther McCoy 
                .item
                    a(href="artist.html") Tove Storch
                .item
                    a(href="artist.html") Nevine Mahmoud
                .item
                    a(href="artist.html") Francisco Ugarte
                .item
                    a(href="artist.html") Benoît Maire
                .item
                    a(href="artist.html") Liat Yossifor