extends ../layouts/default-layout.pug
block content
    #artists
        .container.top
            h3.title-sec <b>Gallery Artists</b>
            ul
                li
                    a(href="artist.html") ASMA
                    img(src="assets/images/about.jpg", alt="")
                li
                    a(href="artist.html") Federico Pérez Villoro
                    img(src="assets/images/artist.jpg", alt="")
                li
                    a(href="artist.html") SANGREE
                    img(src="assets/images/about.jpg", alt="")
                li
                    a(href="artist.html") Tezontle
                    img(src="assets/images/artist.jpg", alt="")
                li
                    a(href="artist.html") Tomás Díaz Cedeño
                    img(src="assets/images/about.jpg", alt="")
                li
                    a(href="artist.html") Ana Montiel
                    img(src="assets/images/artist.jpg", alt="")
                li
                    a(href="artist.html") Alexis Zambrano
                    img(src="assets/images/about.jpg", alt="")
        .container
            .info-text
                hr
        .linksection#ex
            h3.title-sec <b>Exhibited Artists</b>
            .loop-links
                .item
                    p Leonor Antunes
                .item
                    p Elsa-Louise Manceaux
                .item
                    p Fransisco Artigas 
                .item
                    p Carlos Mérida
                .item
                    p Doug Ashford
                .item
                    p Mario Navarro
                .item
                    p Dr. Atl
                .item
                    p Juan O’Gorman
                .item
                    p Adrián S. Bará
                .item
                    p Eamon Ore-Giron
                .item
                    p Nina Beier
                .item
                    p Veronika Pausova
                .item
                    p Juliana Cerqueira Leite
                .item
                    p Matt Paweski 
                .item
                    p Manuela de Laborde
                .item
                    p Claudia Peña Salinas
                .item
                    p Frida Escobedo
                .item
                    p Clara Porset
                .item
                    p Faivovich & Goldberg
                .item
                    p Pedro Reyes
                .item
                    p Claudia Fernández y Proyecto Meteoro
                .item
                    p Gabriel Rosas Alemán
                .item
                    p Simon Fujiwara
                .item
                    p Diego Salvador Ríos
                .item
                    p Mario García Torres
                .item
                    p Alejandro Romero
                .item
                    p Ernesto Gómez Gallardo
                .item
                    p Armando Salas Portugal
                .item
                    p Heather Guertin
                .item
                    p Saúl Sanchéz
                .item
                    p Cynthia Gutiérrez
                .item
                    p Eduardo Sarabia
                .item
                    p Nathan Hylden
                .item
                    p Ariel Schlesinger
                .item
                    p Christian Jankowski
                .item
                    p Cooking Sections
                .item
                    p Gonzalo Lebrija
                .item
                    p Bosco Sodi
                .item
                    p Marie Lund
                .item
                    p Barb Smith
                .item
                    p Javier M. Rodríguez
                .item
                    p Pier Stockholm
                .item
                    p Esther McCoy 
                .item
                    p Tove Storch
                .item
                    p Nevine Mahmoud
                .item
                    p Francisco Ugarte
                .item
                    p Benoît Maire
                .item
                    p Liat Yossifor