extends ../layouts/default-layout.pug
block content
  #contact.container
    .
      <style>
        body {
          background-color: #EBE4D0;
        
        }
        nav {
          background-color: #EBE4D0;
        }
      </style>
    .nav-cont
        ul
            li 
                a(href="") <b>Monterrey, MX</b>
            li
                a(href="") <b>New York, NY</b>
            li 
                a(href="") <b>General Inquiries</b>
            li
                a(href="") <b>Job Opportunities</b>
    .nav-cont.big
        ul
            li <b>Via Clodia 169 <br>SPGG</b><br> Monday – Friday 10 am to 6 pm
            li By appointment only
            li
                a(href="") info@peanaprojects.com
            li <b>PEANA</b> Monterrey
    .container
        hr
        #map