extends ../layouts/default-layout.pug
block content
  #contact.container
    .
      <style>
        body {
          background-color: #EBE4D0;
        
        }
        nav {
          background-color: #EBE4D0;
        }
      </style>
    .nav-cont
        ul
            li 
                a(href="") <b>Monterrey, MX</b>
            li
                a(href="") <b>New York, NY</b>
            li 
                a(href="") <b>General Inquiries</b>
            li
                a(href="") <b>Job Opportunities</b>
    .nav-cont.big
        ul
            li <b>Via Clodia 169 <br>SPGG</b><br> Monday – Friday<br> 10 am to 6 pm
            li By appointment only
            li
                a(href="") info@peanaprojects.com
            li <b>PEANA</b> Monterrey
    .container
        hr
        #map
            .
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14384.770573601743!2d-100.3738296!3d25.664908!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x51b70f15e25d176b!2sPeana!5e0!3m2!1ses!2smx!4v1597266630771!5m2!1ses!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>