extends ../layouts/default-layout.pug
block content
  #exhibition.container
    section.title
        h2 Usando este cuerpo, pensando en la fuente
        b Tomás Díaz Cedeño
        p 05.27.2020 — 08.15.2020
    .nav-ex
      ul
        li
          a(href="#text") Text
        li
          a(href="#artist") Artist
        li
          a(href="#exhibition") Exhibitions
        li
          a(href="#press") Press
  .slideex.owl-carousel.owl-theme
    img(src="assets/images/slide1.jpg", alt="")
    img(src="assets/images/slide2.jpg", alt="")
    img(src="assets/images/slide3.jpg", alt="")
    img(src="assets/images/slide4.jpg", alt="")
  .container
    .info
      p Employing an adaptable curatorial model, <b>PEANA maintains a permanent gallery</b> in Monterrey, Mexico, <b>while also organizing "off-site" exhibitions</b> in the United States and Europe.
      br
      br
      p In 2018, <b>PEANA</b> started a <b>residency exchange program between Mexico and New York</b> made possible thanks to the support of Rockefeller Brothers Fund and Residency Unlimited. Starting Fall 2018, this program will run parallel to <b>PEANA</b> as an independent non-profit organization called <b>Persona.</b>
      br
      br
      br
      hr