extends ../layouts/default-layout.pug
block content
  #news
    #exhibitions.container
        .nav.years
            ul
                li
                    a(href="").active 2020
                li
                    a(href="") 2019
                li
                    a(href="") 2018
                li
                    a(href="") 2017
                li
                    a(href="") 2016
        section.archive-grid.ajustado
            article
                a(href="new.html")
                    img(src="assets/images/about.jpg", alt="Peana")
                    .info-ex
                        h2 Cold Pleasure, Warm Touch
                        h2 <b>Group Exhibition PEANA</b>
                        p 11.07.2018 — 02.14.2019
            article
                a(href="new.html")
                    img(src="assets/images/about.jpg", alt="Peana")
                    .info-ex
                        h2 Cold Pleasure, Warm Touch
                        h2 <b>Group Exhibition PEANA</b>
                        p 11.07.2018 — 02.14.2019
            article
                a(href="new.html")
                    img(src="assets/images/about.jpg", alt="Peana")
                    .info-ex
                        h2 Cold Pleasure, Warm Touch
                        h2 <b>Group Exhibition PEANA</b>
                        p 11.07.2018 — 02.14.2019
            article
                a(href="new.html")
                    img(src="assets/images/about.jpg", alt="Peana")
                    .info-ex
                        h2 Cold Pleasure, Warm Touch
                        h2 <b>Group Exhibition PEANA</b>
                        p 11.07.2018 — 02.14.2019
            article
                a(href="new.html")
                    img(src="assets/images/about.jpg", alt="Peana")
                    .info-ex
                        h2 Cold Pleasure, Warm Touch
                        h2 <b>Group Exhibition PEANA</b>
                        p 11.07.2018 — 02.14.2019
            article
                a(href="new.html")
                    img(src="assets/images/about.jpg", alt="Peana")
                    .info-ex
                        h2 Cold Pleasure, Warm Touch
                        h2 <b>Group Exhibition PEANA</b>
                        p 11.07.2018 — 02.14.2019
            article
                a(href="new.html")
                    img(src="assets/images/about.jpg", alt="Peana")
                    .info-ex
                        h2 Cold Pleasure, Warm Touch
                        h2 <b>Group Exhibition PEANA</b>
                        p 11.07.2018 — 02.14.2019
            article
                a(href="new.html")
                    img(src="assets/images/about.jpg", alt="Peana")
                    .info-ex
                        h2 Cold Pleasure, Warm Touch
                        h2 <b>Group Exhibition PEANA</b>
                        p 11.07.2018 — 02.14.2019
                