a
    cursor: pointer
    &:not(.disable):hover
        font-family: $bold
b, strong
    font-family: $bold
h1
    font-size: 3.5rem
    @media (max-width: 800px)
        font-size: 2.5rem
h2
    font-size: 2rem
.newsletter-button
    font-family: $bold
    cursor: pointer
    display: inline
hr
    border-top: 1px solid $black
    border-left: none
    border-right: none
    border-bottom: none
img
    width: 100%
.active
    font-family: $bold
.nav-cat
    padding: 50px 0 100px 0
    ul
        display: flex
        flex-direction: row
        width: 100%
        justify-content: space-around
        a
            font-size: 2rem