nav
    display: flex
    justify-content: space-between
    height: 100px
    .logo
        align-self: center
        font-family: $bold
        font-size: 2rem
        width: 10%
    ul.nav
        display: flex
        align-self: center
        width: 80%
        justify-content: space-around
        li
            a
                text-transform: capitalize
    .lang
        display: inline
        align-self: center
        justify-self: end
        width: 10%
        text-align: right
